# Logs & runtime caches
*.log
log.txt
server_log.txt
omp-server.log

# Temporary build folders
deploy_win/
deploy_linux/
deploy_linux_dyn/
omp-compiler/
compiler.zip
extract_std/
extract_dyn/
*.tar.gz

# OS specific files
.DS_Store
Thumbs.db

# Secrets
.env
backend-api/.env
backend-api/node_modules/
mysql.ini
scriptfiles/mysql.ini
