# Konfigurasi Port API
PORT=3000

# Konfigurasi Database LemeHost MySQL (Isi dengan kredensial LemeHost Anda)
DB_HOST=142.132.203.47
DB_PORT=3306
DB_USER=u289578_mReRZTCxjz
DB_PASS=FroO15LuABiyU=.5^TLCiFhE
DB_NAME=s289578_db1791315867361

# Konfigurasi Google OAuth 2.0 (Masukkan di Vercel Environment Variables)
GOOGLE_CLIENT_ID=isi_dengan_google_client_id_anda.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=isi_dengan_google_client_secret_anda
GOOGLE_CALLBACK_URL=https://openmp-gm.vercel.app/auth/google/callback
